---
title: Articles
description: Articles
layout: default
---

{% if site.posts.size == 0 %}

  <h2>Pas d'articles trouvés.</h2>

{% else %}

  <div class="posts">
    {% for post in site.posts %}

      <article class="post">
        
        <br>

        <div style="display:flex;flex-direction:row;">

          <img src="{{ post.img }}" style="object-fit:contain;max-width:50%;margin-right:3%;">

          <div style="display:flex;flex-direction:column;margin-left:15px;">

            <h2>
              {{ post.title }}
            </h2>
      
            <div class="meta">
              <ul class="tag">
                {% for tag in post.tags %}
                <li>
                  <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                    {{ tag }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>

            <span class="date" style="margin-bottom:5px;">
              {{ post.date | date: "%Y-%m-%d" }}
            </span>
      
            <div class="entry" style="color: #999;">
              {{ post.description }} <a href="{{ site.baseurl }}{{ post.url }}">Lire...</a>
            </div>

          </div>

        </div>
      </article>

    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <span class="prev">
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
          &#xE000; Previous
        </a>
      </span>
    {% endif %}
    {% if paginator.next_page %}
      <span class="next">
        <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
          Next &#xE001;
        </a>
      </span>
    {% endif %}
  </div>

{% endif %}
