---
title: Cohérence Citoyenne
description: description homepagee
layout: default
---
{% if site.posts.size == 0 %}

  <h2>No posts found</h2>

{% else %}

<!-- 
  <div class="posts-thumbnails">
    
    {% for post in paginator.posts %}

      {% unless post.tags contains "Guide" %}
    
      <a href="{{ site.baseurl }}{{ post.url }}">
        <article class="post-thumbnail">

          <div class="thumbnail-transparent">
            <img src="{{ post.image }}" width="50";>
            <h2>
              {{ post.title }}
            </h2>
          </div>
    
        </article>
      </a>
    
      {% endunless %}
    
    {% endfor %}
    
  </div>
-->

  <div class="posts">
    {% for post in paginator.posts %}

      {% unless post.tags contains "Guide" %}

        <article class="post">
          <br>
          <span class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </span>
          <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h1>
    
          <div class="meta">
            <ul class="tag">
              {% for tag in post.tags %}
              <li>
                <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                  {{ tag }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
    
          <div class="entry" style="color: #999;">
            {{ post.description }}
          </div>
        </article>

      {% endunless %}

    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <span class="prev">
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="prev">
          &#xE000; Previous
        </a>
      </span>
    {% endif %}
    {% if paginator.next_page %}
      <span class="next">
        <a href="{{ site.baseurl}}{{ paginator.next_page_path }}" class="next">
          Next &#xE001;
        </a>
      </span>
    {% endif %}
  </div>

{% endif %}
