---
title: Cohérence Citoyenne
layout: default
---

{% if site.posts.size == 0 %}

  <h2>Pas d'articles trouvés.</h2>

{% else %}

  {% for post in site.posts limit:1 %}

    <div style="display:flex;flex-direction:row;justify-content:space-between;">
      <p style="font-family:Bebas Neue;text-align:right;margin:0px;">France, le {{ post.date | date: "%d %B %Y" }}</p>
    </div>

    <!-- <p style="font-family:Bebas Neue;font-size:calc(55px + (140 - 55) * ((100vw - 300px) / (2560 - 300)));line-height:100px;text-align:justify;color:black;">{{ post.title }}</p> -->
    <p style="display:block;width:100%;font-family:Bebas Neue;color:black;">
      {% for row in post.title_array %}
        <span class="fitty" style="display:inline-block;white-space:nowrap;">{{ row }}</span>
      {% endfor %}
    </p>
    <div style="display:flex;flex-direction:row;">
        <img src="{{ post.image }}" style="object-fit:contain;max-width:70%;margin-right:3%;">
    <div style="display:flex;flex-direction:column;">
      <div style="text-align:justify;color: #999;">
        {{ post.description }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}">Lire plus...</a>
      </div>
    </div>

  {% endfor %}

{% endif %}

<script src="scripts/fitty.min.js"></script>
<script>

$(document).ready(function () { // ensures code runs after JQuery has been initialized
  
  // line-height
  $$('.fitty').each(function(element) {
    element.observe(eventName, function(e) {
      element.css('line-height', element.css('font-size'));
    });
  });

  // font-size
  fitty('.fitty', {
    minSize: 12,
    maxSize: 400,
  });  

});

</script>